<h1>Signup!</h1>

<%= form_for(@user) do |f| %>
 <div class="form-group">
  <h5>first name:</h5> <%= f.text_field :first_name, class:"form-control", placeholder:"what is your first name?"%>
  </div>

  <div class="form-group">
  <h5>last name:</h5> <%= f.text_field :last_name, class:"form-control", placeholder:"what is your last name?"%>
  </div>

  <div class="form-group">
  <h5>email:</h5> <%= f.text_field :email, class:"form-control", placeholder:"what is your email?" %>
  </div>

  <div class="form-group">
  <h5>password:</h5> <%= f.password_field :password, class:"form-control", placeholder:"what is your password? don't worry, we won't share it with anyone." %>
  </div>

  <div class="form-group">
  <h5>password confirmation:</h5> <%= f.password_field :password_confirmation, class:"form-control", placeholder:"can you confirm your password again?" %>
  </div>
  <%= f.submit "Welcome to the Jungle", class: 'btn btn-primary' %>
<% end %>